.card {
    margin: 10px;
    border: 1px solid black;
}

.card-header {
    background-color: #7c756b;
    color: white;
    font-weight: bold;
    padding: 10px;
}

.card-body {
    padding: 10px;
}

.boundary {
    margin-top: .5em;
    margin-bottom: .5em;
}