<div>
    <h2 class="h2 align-header">Add Firearm</h2>
</div>
<form [formGroup]="gunForm" (ngSubmit)="submitGunData()" novalidate>
    <div class="row align-content">
        <div class="col-lg-5 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label>Owner Name</label>
                    <input
                        type="text"
                        formControlName="ownerName"
                        class="form-control"
                        required
                    />
                    <p *ngIf="ownerName?.touched && ownerName?.invalid" class="error">
                        <sup>*</sup>Invalid field
                    </p>
                    <p *ngIf="ownerName?.errors?.['minLength']" class="error">
                        <sup>*</sup>Field needs to be longer than 2 characters
                    </p>
                </div>
                <div class="col-md-12 mb-3">
                    <label>Email</label>
                    <input
                        type="text" 
                        formControlName="emailAddress" 
                        class="form-control"
                        required/>
                    <p *ngIf="emailAddress?.touched && emailAddress?.invalid" class="error">
                     <sup>*</sup>Please provide email
                    </p>
                    <p *ngIf="emailAddress?.errors?.['pattern']" class="error">
                     <sup>*</sup>Please enter correct email
                    </p>    
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label>Address</label>
                    <input type="text" formControlName="address" class="form-control">
                </div>
                <div class="col-md-12 mb-3">
                    <label>Phone Number</label>
                    <input type="text" formControlName="phoneNumber" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label>Make</label>
                    <input type="text" formControlName="make" class="form-control">
                </div>
                <div class="col-md-12 mb-3">
                    <label>Type</label>
                    <input type="text" formControlName="type" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label>Serial Number</label>
                    <input type="text" formControlName="type" class="form-control">
                </div>
                <div class="col-md-12 mb-3">
                    <label>Log Number</label>
                    <input type="text" formControlName="type" class="form-control">
                </div>
                <div class="col-md-12 mb-3">
                    <label>Days Stored</label>
                    <input type="number" formControlName="type" class="form-control">
                </div>
            </div>
        </div>
        <div class="form-group text-right align-buttons">
            <button
                type="button"
                class="btn btn-secondary gap-right"
                (click)="resetForm()"
            >
            Reset
            </button>
            <button
            type="button"
            class="btn btn-success "
            [disabled]="!gunForm.valid"
            >
            Add Gun
        </button>
        </div>
    </div>
</form>