<div class="addForm">
    <h2>Add Gun</h2>
    <form>
      <div class="form_content">
        <label for="logNumber">Log Number:</label>
        <input type="text" name="logNumber" [(ngModel)]="gun.logNumber" id="logNumber">
      </div>
      <div class="form_content">
        <label for="owner">Owner:</label>
        <input type="text" name="owner" [(ngModel)]="gun.owner" id="owner">
      </div>
      <div class="form_content">
        <label for="serialNumber">Serial Number:</label>
        <input type="text" name="serialNumber" [(ngModel)]="gun.serialNumber" id="serialNumber">
      </div>
      <div class="form_content">
        <label for="type">Type:</label>
        <input type="text" name="type" [(ngModel)]="gun.type" id="type">
      </div>
      <div class="form_content">
        <label for="logNumber">Make:</label>
        <input type="text" name="logNumber" [(ngModel)]="gun.make" id="make">
      </div>
      <div class="form_content">
        <label for="type">Model:</label>
        <input type="text" name="model" [(ngModel)]="gun.model" id="model">
      </div>
    </form>
  </div>